@model HoangVanQuocNhat_BTTrenLop.Models.SinhVien
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Thông tin sinh viên</h1>
    <p>Họ và tên: @Model.ten</p>
    <p>Mã sinh viên: @Model.msv</p>
</div>
